<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>uStock</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    @await Html.PartialAsync("__css")
    @await RenderSectionAsync("Styles", required: false)

    <script src="~/lib/vue/vue.global.prod.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/lib/indotalent/storage-manager.js"></script>
    <script src="~/lib/indotalent/axios-manager.js"></script>
</head>

<body>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>