**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
**/.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
wwwroot/app_data/
appsettings.*.json
Presentation/ASPNET/appsettings.json
ustock-app.tar.gz
.env
.env.*
!.env.example
